.App {
  background-color: #d3d1d6;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.App-demo-container {
  position: relative;
}

.App-background {
  width: 680px;
}

.App-input-container {
  position: absolute;
  top: 46px;
  left: 69px;
}
